<template>
    <div class="dropdown" v-if="dropdown && selected" @click="selectOption($event, null)">
        <article class="selected">{{selected}}</article>
        <transition name="slide">
            <div class="menu" v-if="show">
                <article v-for="(dd, index) in dropdown" :key="`dropdown${index}`" @click="selectOption($event, dd)">{{dd}}</article>
            </div>
        </transition>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
    name: 'DropDown', 
    data () {
        return {
            show: false
        }
    },
    computed: {
        ...mapGetters(['dropdown', 'selected'])
    },
    methods: {
        selectOption(e, data) {
            e.stopPropagation()
            if(!data) {
                this.show = !this.show
            } else {
                this.$root.$emit('loader/start')
                this.show = false
                this.$emit('selected', data)
            }
        }
    },
}
</script>
<style lang="scss">
    .dropdown {
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        @media only screen and (max-width: 768px) {
            width: max-content;
            right: 10px;
            left: 10px;
            margin: auto;
            text-align: center;
        }
        article{
            box-sizing: border-box;
            cursor: pointer;
            width: 180px;
            height: 40px;
            padding: 0 0 0 15px;
            line-height: 40px;
            vertical-align: middle;
            background-color: #F8F4EC;
            text-align: left;
            &.selected{
                box-sizing: border-box;
            }
            &:hover{
                background-color: #742D6C;
                color: #ffffff;
            }
        }
        .menu{
            box-sizing: border-box;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            article{
                border: 1px solid #D3D3D3;
                &:hover{
                    border: 1px solid #742D6C;
                }
                &:nth-of-type(3){
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }

    .slide-enter-active {
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
    }

    .slide-leave-active {
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    .slide-enter-to, .slide-leave {
        max-height: 100px;
        overflow: hidden;
    }

    .slide-enter, .slide-leave-to {
        overflow: hidden;
        max-height: 0;
    }
</style>