<template>
    <transition name="fade">
        <div class="backdrop" v-if="loader">
            <div class="loader"></div>
        </div>
    </transition>
</template>
<script>
import config from '@/config.js'
export default {
    name: 'Loader',
    props: {
        loader: Boolean
    },
    watch: {
        loader () {
            if (this.loader) {
                setTimeout(() => {
                    this.$root.$emit('loader/stop')
                }, config.loaderKillTime);

            }
        }
    }
}
</script>
<style lang="scss">
    .backdrop{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #ffffff90;
    }
    .loader {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        border: 12px solid #f3f3f3;
        border-top: 12px solid #742D6C;
        width: 70px;
        height: 70px;
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-to {
        opacity: 0
    }
</style>