<template>
  <div class="home">
    <drop-down @selected="selectDd"/>
    <packs-container/>
  </div>
</template>

<script>
import {getData} from '@/services/api/data.js'
import DropDown from '@/components/DropDown/DropDown'
import PacksContainer from '@/components/Packs/PacksContainer'
import { mapActions } from 'vuex';


export default {
  name: 'Home',
  methods: {
    ...mapActions(['setDropdown', 'setSelected', 'setAssets', 'setItems']),
    async getData () {
      const data = await getData()
      console.log(data)
      this.setDropdown(data.contract_length.contract_length_options.reverse())
      this.setSelected(data.contract_length.preselected_contract_length)
      this.setAssets(data.assets)
      this.setItems(data.items)
      return data
    },
    selectDd (payload) {
      this.setSelected(payload)
    }
  },
  mounted () {
    this.getData()
  },
  components: {
    DropDown,
    PacksContainer
  }
}
</script>
<style lang="scss">
  .home{
    position: relative;
    width: max-content;
    padding-top: 50px;
    margin: 0 auto;
    @media only screen and (max-width: 1366px) {
      width: 100%
    }
    @media only screen and (max-width: 768px) {
      width: max-content;
    }
  }
  
</style>
