<template>
    <div class="packs-container">
        <div class="packs-box" v-if="items">
            <single-pack v-for="(item, index) in items" :key="`item${index}`" :item="item" :index="index" :tvHeight="formHeights('tv')" :netHeight="formHeights('net')" @tvHeight="formHeights"/>
        </div>
    </div>
</template>
<script>
import SinglePack from './SinglePack'
import { mapGetters } from 'vuex'
export default {
    name: 'PacksContainer',
    data () {
        return {
            hights: []
        }
    },
    computed: {
        ...mapGetters(['items'])
    },
    methods: {
        formHeights (cat) {
            const hights = []
            for (let i = 0; i < this.items.length; i++) {
                let count = 0
                for (let j = 0; j < this.items[i].included.length; j++) {
                    if (this.items[i].included[j].product_category === cat) {
                        count += 1
                    }
                    hights.push(count)
                }
            }
            const max = Math.max(...hights)
            const high = 80 + 17 * max
            return high
        }
    },
    components: {
        SinglePack
    }
}
</script>
<style lang="scss">
    .packs-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .packs-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: max-content;
            @media only screen and (max-width: 1366px) {
                flex-direction: column;
            }
        }
    }
</style>
