<template>
    <div class="item-box">
        <div class="recomended" v-if="item.is_featured">
            <p>Preporučujemo</p>
        </div>
        <div class="devider" v-if="item.is_featured"></div>
        <div class="heading">
            <h2>{{item.name}}</h2>
        </div>
        <div class="devider"></div>
        <category :isTv="true" :category="tvCategory" :tvHeight="tvHeight" :netHeight="netHeight"/>
        <div class="devider"></div>
        <category :isTv="false" :category="netCategory" :tvHeight="tvHeight" :netHeight="netHeight"/>
        <promo :item="item"/>
        <div class="devider"></div>
        <price :item="item"/>
        <button class="order">Naručite</button>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Category from '@/components/common/Category'
import Promo from '@/components/common/Promo'
import Price from '@/components/common/Price'
export default {
    name: 'SinglePack',
    props: {
        item: Object,
        index: Number,
        tvHeight: Number,
        netHeight: Number
    },
    computed: {
        ...mapGetters(['assets', 'selected']),
        tvCategory () {
            const tv = []
            for (let i = 0; i < this.item.included.length; i++) {
                if (this.item.included[i].product_category === 'tv') {
                    tv.push(this.item.included[i])
                }
            }
            return tv
        },
        netCategory () {
            const net = []
            for (let i = 0; i < this.item.included.length; i++) {
                if (this.item.included[i].product_category === 'net') {
                    net.push(this.item.included[i])
                }
            }
            return net
        }
    },
    components: {
        Category,
        Promo,
        Price
    }
}
</script>
<style lang="scss">
    .item-box {
        background-color: #F8F4EC;
        width: 340px;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin: 15px;
        @media only screen and (max-width: 768px) {
            margin: 15px 0;
        }

        .recomended{
            p{
                color: #742D6C;
                font-size: 16px;
                margin: 12px 0;
            }
        }
        .heading{
            display: flex;
            height: 141px;
            align-items: center;
            justify-content: center;            
        }
        h2{
            max-width: 213px;
            margin: 0 auto;
            text-align: center;
            font-size: 42px;
            font-weight: bold;
            font-style: italic;
            line-height: 47px;
            color: #742D6C;
        }
        .tv-features, .internet-features{
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            img{
                height: 45px;
            }
            li{
                text-align: left;
                width: 193px;
            }
        }

        .internet-features{
            height: 105px;
        }
        
    }
    .devider{
        width: 100%;
        height: 1px;
        background: #D3D3D3;
    }
    .promotions{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 40px;
        transition: all .3s ease-in-out;
        img{
            width: 81px;
            transition: all .3s ease-in-out;
        }
        .promo-text{
            width: calc(100% - 81px);
            transition: all .3 ease-in-out;
        }

        &:hover {
            img{
                width: 95px
            }
            .promo-text{
                width: calc(100% - 95px);
                font-size: 18px;
            }
        }
        p{
            margin: 0 auto;
            color: #742D6C;
            font-size: 14px;
            overflow: hidden;
            max-width: 17ch;
        }
    }
    .price-container{
        display: flex;
        flex-direction: column;
        .price{
            display: flex;
            flex-direction: row;
            height: 52px;
            align-items: flex-end;
            justify-content: flex-end;
            margin-bottom: 19px;
            span{
                display: flex;
                width: 50%;
                color: #742D6C;
                line-height: 1;
                &.old{
                    text-decoration: line-through;
                    text-decoration-color: #171620;
                    font-size: 22px;
                    margin-bottom: 3px;
                }
                &.new{
                    font-size: 33px;
                }
                &.single{
                    width: 100%;
                    justify-content: center;
                }
            }
        }
        p{
            font-size: 16px;
            margin: 0 0 25px 0;
        }
    }
    button.order{
        cursor: pointer;
        background-color: #742D6C;
        color: #ffffff;
        padding: 11px;
        font-size:18px;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: all .3s ease-in-out;
        &:hover{
            background-color: darken(#742D6C, 10%);
            font-weight: 900;
        }
    }
</style>