<template>
    <div :class="isTv ? 'tv-features' : 'internet-features'" v-if="category" :style="isTv && tvHeight ? `min-height: ${tvHeight}px` : !isTv && netHeight ? `min-height: ${netHeight}px` : ''">
        <img v-if="assets" :src="isTv ? assets.tv_category : assets.net_category" alt="">
        <ul>
            <li v-for="(cat, index) in category" :key="`${isTv}${index}`">{{cat.long_name}}</li>
        </ul>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    name: 'Category',
    props: {
        isTv: Boolean,
        category: Array,
        tvHeight: Number,
        netHeight: Number
    },
    computed: {
        ...mapGetters(['assets'])
    }
}
</script>