<template>
    <div class="price-container">
        <div class="price">
            <span class="old" v-if="item.prices.old_price_recurring[selected]">{{formatPrices(item.prices.old_price_recurring[selected])}} {{unit}}</span>
            <span class="new" :class="!item.prices.old_price_recurring[selected] ? 'single' : ''">{{formatPrices(item.prices.price_recurring[selected])}} {{unit}}</span>
        </div>
        <div class="recuring" v-if="item.prices.old_price_recurring[selected]" v-html="item.prices.old_price_promo_text"></div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
    name: 'Price',
    data () {
        return {
            unit: 'rsd/mes.'
        }
    },
    props: {
        item: Object
    },
    computed: {
        ...mapGetters(['selected'])
    },
    methods: {
        formatPrices(data) {
            const str = data.replace('.0000', '')
            const position = str.length - 3
            const dot = '.'
            let price
            if (str > 3) {
                price = [ str.slice(0, position), dot ,str.slice(-3)].join('')
            } else {
                price = str
            }
            return price
        }
    }
}
</script>