<template>
    <div class="promotions" v-if="item.promotions && item.prices.old_price_recurring[selected]">
        <img :src="item.promotions[0].promotion_image" alt="">
        <div class="promo-text" v-html="item.promotions[0].promo_text"></div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
    name: 'Promo',
    props: {
        item: Object
    },
    computed: {
        ...mapGetters(['selected'])
    },
}
</script>