<template>
  <div id="app">
    <router-view/>
    <loader :loader="loader"/>
  </div>
</template>
<script>
import Loader from '@/components/Loader/Loader'
export default {
  name: 'App',
  data () {
    return {
      loader: false
    }
  },
  created () {
    this.$root.$on('loader/start', this.loaderOn)
    this.$root.$on('loader/stop', this.loaderOff)
  },
  methods: {
    loaderOn () {
      this.loader = true
    },
    loaderOff () {
      this.loader = false
    }
  },
  components: {
    Loader
  }
}
</script>

<style lang="scss">
@font-face {font-family: "Calibri"; src: url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot"); src: url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff") format("woff"), url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.svg#Calibri") format("svg"); }
#app {
  font-family: 'Calibri', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
